.Outer{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap:20px;
    height:auto;
}
.inner{
    border:2px solid blueviolet;
    color:rgb(158, 86, 95);
    border-radius:10px;
    width:400px;
    height:690px;
    margin-left:20px;
    margin-top:20px;
    padding:10px;
}

.ticket_background{
    border:2px solid blueviolet ;
    color:rgb(158, 86, 95);
    border-radius:10px;
    width:400px !important;
    height:400px !important;
    margin-left:20px;
    margin-top:20px;
    padding:10px;
}